In [11]:
# DataFrame operation
import pandas as pd
# creare a sample Dataframe
data={
    "A" :[1,2,2,3,4,4,5,5,5],
    "B":["foo","bar","foo","bar","foo","bar","foo","bar","foo"]
}
df =pd.DataFrame(data)
#count occurance of each value in column 'A'
count_A=df["A"].value_counts()
print("count of each value in column 'A':")
print(count_A)

count of each value in column 'A':
A
5    3
2    2
4    2
1    1
3    1
Name: count, dtype: int64

In [6]:
# Apply function to column 'A'(e.g square each value)
df['A_squared'] = df['A'].apply(lambda x:x**2)
print("\nDataFrame with 'A_squared':")
print(df)

DataFrame with 'A_squared':
   A    b  A_squared
0  1  foo          1
1  2  bar          4
2  2  foo          4
3  3  bar          9
4  4  foo         16
5  4  bar         16
6  5  foo         25
7  5  bar         25
8  5  foo         25

In [12]:
# Find unique value in column 'B'
unique_B = df['B'].unique()
print("\nunique values in column 'B':")
print(unique_B)

unique values in column 'B':
['foo' 'bar']

In [14]:
# Count unique values in column 'B'
unique_count_B = df['B'].nunique()
print("\,Count of unique values in column'B':")
print(unique_count_B)

\,Count of unique values in column'B':
2

In [19]:
print(df.head())

   A    B
0  1  foo
1  2  bar
2  2  foo
3  3  bar
4  4  foo

In [16]:
print(df.tail())

   A    B
4  4  foo
5  4  bar
6  5  foo
7  5  bar
8  5  foo

In [17]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       9 non-null      int64
 1   B       9 non-null      object
dtypes: int64(1), object(1)
memory usage: 276.0+ bytes
None

In [18]:
print(df.describe())

              A
count  9.000000
mean   3.444444
std    1.509231
min    1.000000
25%    2.000000
50%    4.000000
75%    5.000000
max    5.000000