In [3]:
# Selection
# Column Selection
# Selecting a single Column:
import pandas as pd
data ={
    "Name":["Sanjana","Pooja","Arti","Poonam"],
    "Age":[25,40,32,23],
    "City":["Baramati","Pune","Satara","Sagali"]
    }      
df = pd.DataFrame(data)
# Selecting a single column
name_column = df["Name"]
print(name_column)

0    Sanjana
1      Pooja
2       Arti
3     Poonam
Name: Name, dtype: object

In [4]:
# Selecting multiple columns
name_and_age = df[["Name","Age"]]
print(name_and_age)

      Name  Age
0  Sanjana   25
1    Pooja   40
2     Arti   32
3   Poonam   23

In [5]:
#Row Selection 
#Selecting rows by index
row_2_to_3 = df.iloc[1:3]
print(row_2_to_3)

    Name  Age    City
1  Pooja   40    Pune
2   Arti   32  Satara

In [6]:
# Selecting rows based on a condition where Age is greater than 30
age_greater_than_30 = df[df["Age"]>30]
print(age_greater_than_30)

    Name  Age    City
1  Pooja   40    Pune
2   Arti   32  Satara

In [8]:
# Selecting rows where city is "Pune"
Pune_residents = df[df["City"]=="Pune"]
print(Pune_residents)

    Name  Age  City
1  Pooja   40  Pune

In [4]:
import pandas as pd
data ={
    "Name":["Sanjana","Pooja","Arti","Poonam"],
    "Age":[25,40,32,23],
    "City":["Baramati","Pune","Satara","Sagali"]
    }      
df = pd.DataFrame(data)
subset_loc = df.loc[1:2,['Name','City']]
print(subset_loc)

    Name    City
1  Pooja    Pune
2   Arti  Satara

In [6]:
subset_iloc = df.iloc[1:3,[0,1]]
print(subset_iloc)

    Name  Age
1  Pooja   40
2   Arti   32

In [8]:
#condition selection
selected_rows = df[df["Age"]>30]
print(selected_rows)

    Name  Age    City
1  Pooja   40    Pune
2   Arti   32  Satara

In [9]:
selected_col = df.iloc[0]#selecting row
print(selected_col)

Name     Sanjana
Age           25
City    Baramati
Name: 0, dtype: object

In [11]:
pooja=df.set_index("Name")
row = pooja.loc["Pooja"]
row

Age       40
City    Pune
Name: Pooja, dtype: object

In [12]:
import pandas as  pd
data = {
    "Name":["Sanjana","Pooja","Arti","Poonam"],
    "Age":[23,34,19,25],
    }
df = pd.DataFrame(data)
df["City"]=["Baramati","Pune","Satara","Sagali"]
print(df)

      Name  Age      City
0  Sanjana   23  Baramati
1    Pooja   34      Pune
2     Arti   19    Satara
3   Poonam   25    Sagali

In [14]:
df.drop("City",axis=1,inplace=True)
print(df)

      Name  Age
0  Sanjana   23
1    Pooja   34
2     Arti   19
3   Poonam   25

In [15]:
df["Age"]=[25,35,20,26]
print(df)

      Name  Age
0  Sanjana   25
1    Pooja   35
2     Arti   20
3   Poonam   26

In [17]:
import pandas as pd
# create a sample DataFrame
data = {"Name":["Sanjana","Pooja","Arati","Poonam"],
        "Age":[22,33,44,55]
       }
df = pd.DataFrame(data)
#set 'Name' column as the index
df.set_index('Name',inplace= True)# Gives "Name" an index
print(df)

         Age
Name
Sanjana   22
Pooja     33
Arati     44
Poonam    55

In [20]:
# Remove index
df.reset_index(inplace = True)
print(df)

   level_0  index     Name  Age
0        0      0  Sanjana   22
1        1      1    Pooja   33
2        2      2    Arati   44
3        3      3   Poonam   55

In [22]:
import pandas as pd 
# Create a sample DataFrame
data = {'A' : [11,22,33,44],
        'B' : [55,66,77,88]
       }
df = pd.DataFrame(data)
# Perform arithmetic operations between columns
#Addition
df['c']=df['A'] + df['B']
print(df['c'])

0     66
1     88
2    110
3    132
Name: c, dtype: int64

In [24]:
# Subtraction
df['d'] = df['A']- df['B']
print(df['d'])

0   -44
1   -44
2   -44
3   -44
Name: d, dtype: int64

In [25]:
# Multiplication
df['e']=df['A']*df['B']
print(df['e'])

0     605
1    1452
2    2541
3    3872
Name: e, dtype: int64

In [26]:
#Division
df['f']=df['A']/df['B']
print(df['f'])

0    0.200000
1    0.333333
2    0.428571
3    0.500000
Name: f, dtype: float64