In [ ]:
# What is a DataFrame?
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [4]:
#Create a simple Pandas DataFrame:
import pandas as pd
data = { 
    "Name" :["Sanjana","Sanika","Payal"],
    "Mark" :[75,70,80]
}
df = pd.DataFrame(data)
print(df)

      Name  Mark
0  Sanjana    75
1   Sanika    70
2    Payal    80

In [5]:
#Load the CSV into a DataFrame:
import pandas as pd
df = pd.read_csv("list.csv")
df

   Sr No.       Name      City   College
0        1  Sanjana   Baramati        VP
1        2    Sanika      Pune        TC
2        3     Pooja    Sagali        MS
3        4    Poonam    Satara  DY Patil
4        5      Arti   Indapur       MIT

In [12]:
import pandas as pd
df = pd.read_excel("C://Users//swopnil//Desktop//data.xlsx")
df

   Sr No.      Name      City  Mark
0        1  Sanjana      Pune    76
1        2    Payal  Baramati    78
2        3    Pooja    Satara    91
3        4   Sanika    Sagali    80
4        5   Poonam   Indapur    68

In [ ]:
# DataFrame Create using : Matrix

In [4]:
import pandas as pd
#matrix (list of lists)
matrix = [ 
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
# create DataFrame
df = pd.DataFrame(matrix,columns=["column1","column2","column3"])
print(df)

   column1  column2  column3
0        1        2        3
1        4        5        6
2        7        8        9

In [5]:
# DataFrame Create using : Dictionary
import pandas as pd
data = { 
    "Name":["Sanjana","Pooja","Sarita","Arati"],
    "Age":[22,23,25,30],
    "City":["Baramati","Bhigwan","Pune","Sagali"]
}
# Create a DataFrame
df = pd.DataFrame(data)
print(df)

      Name  Age      City
0  Sanjana   22  Baramati
1    Pooja   23   Bhigwan
2   Sarita   25      Pune
3    Arati   30    Sagali