In [ ]:
# Missing Value
#Missing values checking using Pandas:
load the dataset into a DataFrame.
use isna(),or isnull() to identify missing values 
use sum() to count the number of missing values

In [9]:
import pandas as pd
data={
    'A':[11,22,None,44],
    'B':[None,22,33,44],
    'C':[11,22,33,None]
     }
df = pd.DataFrame(data)
#check for missing values using function "isna()"
print("\nMissing values(True indicates missing):")
print(df.isna())

Missing values(True indicates missing):
       A      B      C
0  False   True  False
1  False  False  False
2   True  False  False
3  False  False   True

In [10]:
# check for missing values using function "isnull()"
import pandas as pd
data={
    'A':[11,22,None,44],
    'B':[None,22,33,44],
    'C':[11,22,33,None]
     }
df = pd.DataFrame(data)
print("\nMissing values(True indicates missing):")
print(df.isnull())

Missing values(True indicates missing):
       A      B      C
0  False   True  False
1  False  False  False
2   True  False  False
3  False  False   True

In [11]:
#Summing up missing values per column 
print("\nMissing values count per column:")
print(df.isna().sum())

Missing values count per column:
A    1
B    1
C    1
dtype: int64

In [13]:
# Checking if there are any missing values in DataFrame:
print("\n Total Missing values in dataframe:")
print(df.isna().sum().sum())

 Total Missing values in dataframe:
3

In [14]:
# Checking For missing values using info():
print("\nDataFrame info:")
print(df.info())

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      float64
 1   B       3 non-null      float64
 2   C       3 non-null      float64
dtypes: float64(3)
memory usage: 228.0 bytes
None

In [15]:
# Identifying Rows with Missing Values:
print("\nRows with any missing values:")
print(df[df.isna().any(axis=1)])

Rows with any missing values:
      A     B     C
0  11.0   NaN  11.0
2   NaN  33.0  33.0
3  44.0  44.0   NaN

In [16]:
# Identifying Columns with Missing Values:
print("\nColumns with any missing values:")
print(df.loc[:,df.isna().any()])

Columns with any missing values:
      A     B     C
0  11.0   NaN  11.0
1  22.0  22.0  22.0
2   NaN  33.0  33.0
3  44.0  44.0   NaN

In [17]:
# Dropping rows with any missing values 
df_dropped_rows = df. dropna(axis=0)
print("DataFrame after dropping rows with any missing values:")
print(df_dropped_rows)

DataFrame after dropping rows with any missing values:
      A     B     C
1  22.0  22.0  22.0

In [18]:
# Dropping Columns with any missing values :
df_dropped_columns = df. dropna(axis=1)
print("DataFrame after dropping columns with any missing values:")
print(df_dropped_columns)

DataFrame after dropping columns with any missing values:
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [22]:
# Additional Options:
# Dropping rows only if all values are missing:
df_drop_rows_all = df.dropna(axis =0,how ='all')
print("\nDataFrame after dropping rows only if all values are missing:")
print(df_drop_rows_all )

DataFrame after dropping rows only if all values are missing:
      A     B     C
0  11.0   NaN  11.0
1  22.0  22.0  22.0
2   NaN  33.0  33.0
3  44.0  44.0   NaN

In [23]:
# Dropping columns only if all values are missing :
df_drop_columns_all= df.dropna(axis=1,how="all")
print("\nDataFrame after dropping columns only if all values are missing:")
print(df_drop_columns_all)

DataFrame after dropping columns only if all values are missing:
      A     B     C
0  11.0   NaN  11.0
1  22.0  22.0  22.0
2   NaN  33.0  33.0
3  44.0  44.0   NaN

In [24]:
# Dropping rows with less than 3 non- missing values:
df_drop_rows_thresh = df.dropna(axis=0,thresh=3)
print("\nDataFrame after rows with less than 3 non- missing values:")
print(df_drop_rows_thresh)

DataFrame after rows with less than 3 non- missing values:
      A     B     C
1  22.0  22.0  22.0

In [27]:
# Dropping columns with less than 3 non- missing values:
df_drop_columns_thresh = df.dropna(axis=1,thresh=3)
print("\nDataFrame after columns with less than 3 non- missing values:")
print(df_drop_columns_thresh)

DataFrame after columns with less than 3 non- missing values:
      A     B     C
0  11.0   NaN  11.0
1  22.0  22.0  22.0
2   NaN  33.0  33.0
3  44.0  44.0   NaN

In [29]:
#Filling Missing Values with Column Means Using apply
df_filled = df.apply(lambda col:col.fillna(col.mean()),axis = 0)
print("\nDataFrame after filling missing values with Column Means:")
print(df_filled)

DataFrame after filling missing values with Column Means:
           A     B     C
0  11.000000  33.0  11.0
1  22.000000  22.0  22.0
2  25.666667  33.0  33.0
3  44.000000  44.0  22.0

In [30]:
#Filling Missing Values with Column Means Using fillna:
df_filled_fillna = df.fillna(df.mean())
print("\nDataFrame after filling missing values with Column Means using fillna:")
print(df_filled_fillna)

DataFrame after filling missing values with Column Means using fillna:
           A     B     C
0  11.000000  33.0  11.0
1  22.000000  22.0  22.0
2  25.666667  33.0  33.0
3  44.000000  44.0  22.0

In [31]:
# filling Missing values with the mean of each row:
df_filled_row_mean = df.apply(lambda row: row.fillna(row.mean()),axis=1)
print("\nDataFrame after filling missing values with row mean:")
print(df_filled_row_mean)

DataFrame after filling missing values with row mean:
      A     B     C
0  11.0  11.0  11.0
1  22.0  22.0  22.0
2  33.0  33.0  33.0
3  44.0  44.0  44.0

In [33]:
# Median:
# Calculate the median for each column:
medians = df.median()
print("\nMedianvalues for each column:")
print(medians)

Medianvalues for each column:
A    22.0
B    33.0
C    22.0
dtype: float64

In [35]:
#Fill missing values with the median of the respective column:
df_filled = df.fillna(medians)
print("\nDataFrame after filling missing values with medians:")
print("df_filled")

DataFrame after filling missing values with medians:
df_filled

In [36]:
#Fill missing values with the median of the specific columns:
df['A'] = df['A'].fillna(df['A'].median())
df['B'] = df['B'].fillna(df['B'].median())   
print("\nDataFrame after filling missing values with medians in specific columns:")
print(df)

DataFrame after filling missing values with medians in specific columns:
      A     B     C
0  11.0  33.0  11.0
1  22.0  22.0  22.0
2  22.0  33.0  33.0
3  44.0  44.0   NaN